.Card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  background-color: #d9d9d9;
  background-image: linear-gradient(315deg, $color-2 0%, $color-light-2 100%);
  color: $color-dark-1;
  margin: 20px;
  padding-bottom: 20px;

  border-radius: 20px;
  font-size: 0.8rem;

  form {
    display: flex;
  }

  .message {
    margin: 10px;
  }
  .title-container {
    text-align: center;
    width: 100%;
    background: $color-2;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    border-radius: 20px 20px 5px 5px;
  }

  .button {
    margin: 0px;
    color: white;
    text-align: center;
  }

  .button-right {
    border-radius: 0 10px 10px 0;
    border-color: $color-1;

    margin: 0px;
    &:hover {
      border-color: $color-2;
    }
  }

  .input-left {
    margin: 0;
    border-radius: 10px 0 0 10px;
  }

  .input-container {
    display: flex;
    justify-content: center;
    margin: 10px;
  }
}
