.connectstatus {
  display: flex;
  align-items: center;
  color: white;
  a {
    color: white;
  }
  input {
    border-radius: 5px;
    padding: 5px;
    border: 2px solid $color-1;
    box-shadow: 0 0 10px 2px rgba(123, 123, 123, 0.267);
  }
  button {
    cursor: pointer;
    padding: 5px 10px;
    font-size: 1rem;
    border: 0px solid white;
    border-radius: 5px;
    background: $color-1;
    color: white;
    box-shadow: 0 0 8px #0000002f;
    text-shadow: 0 1px 2px #00000094;
    transition: 1s;
  }
  .connecteduser-container {
    display: flex;
    align-items: center;
  }
}
