.Dashboard {
  width: 100%;
  max-width: 500px;
  background-image: linear-gradient(160deg, white 20%, $color-light-2 100%);
  color: $color-dark-1;
  margin: 5px;
  border-radius: 10px;
  .title-container {
    padding: 0 10px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: $color-1;
    border-radius: 20px 20px 5px 5px;
  }
  .item-row {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        margin-right: 10px;
        display: block;
        width: 40px;
        height: 40px;
      }
      .item-desc--container {
        display: flex;
        flex-direction: column;
        .item-title {
          font-size: 1rem;
          font-weight: 600;
        }
        .item-desc {
          font-size: 0.8rem;
          font-weight: 600;
          color: $color-1;
        }
      }
    }

    .wait {
      background: $color-3 !important;
    }
    .success {
      background: $color-2 !important;
    }
  }
}
