.Dashboard {
  width: 100%;
  max-width: 500px;
  background-color: #d9d9d9;
  background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
  color: $color-dark-1;
  margin: 10px;
  border-radius: 20px;
  border: 3px solid rgba(255, 255, 255, 0.886);
  .title-container {
    padding: 0 10px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(
      160deg,
      $color-1 30%,
      rgba(255, 255, 255, 0) 100%
    );
    color: white;
    border-radius: 20px 20px 5px 5px;
  }
  .item-row {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        margin-right: 10px;
        display: block;
        width: 40px;
        height: 40px;
      }
      .item-desc--container {
        display: flex;
        flex-direction: column;
        .item-title {
          font-size: 1rem;
          font-weight: bold;
        }
        .item-desc {
          font-size: 0.8rem;
          font-weight: normal;
          color: $color-1;
        }
      }
    }

    .wait {
      background: $color-3 !important;
    }
    .success {
      background: $color-2 !important;
    }
  }
}
