.Matchboard {
  width: 100%;
  max-width: 500px;
  background-color: #d9d9d9;
  background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
  color: $color-dark-1;
  margin: 10px;
  border-radius: 20px;
  border: 3px solid rgba(255, 255, 255, 0.886);

  font-size: 0.8rem;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-1;
    border-radius: 10px;
  }
  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(160deg, $color-2 0%, $color-3 100%);
    color: white;
    border-radius: 20px 20px 5px 5px;

    h3 {
      margin-left: 10px;
    }
  }

  .item-row {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 200ms;
    border-radius: 5px;
    &:nth-child(even) {
      background: #ffffff27;
    }
    &:hover {
      background: $color-2;
      color: white;
      box-shadow: 0 0 30px 10px $color-2;
      transform: scale(1.05);
    }
    &:hover .item-desc {
      color: white !important;
    }
    &:hover .logo-m {
      box-shadow: 0 0 50px 10px $color-2;
    }
    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      .logo-m {
        background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);

        margin-right: 10px;
        padding: 5px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        // border: 2px solid #fd4b5d;
        text-align: center;
        transition: 200ms;
      }
      img {
        margin-right: 10px;
        display: block;
        width: 100%;
      }
      .item-title {
        font-size: 0.8rem;
        font-weight: 600;
        z-index: 100;
      }
    }
    .item-desc--container {
      display: flex;
      flex-direction: column;

      .score {
        text-align: right;
        font-weight: bolder;
        font-style: italic;
      }
      .item-desc {
        font-size: 0.8rem;
        text-align: right;
        font-weight: normal;
        color: $color-1;
      }
    }
  }
}
