.Tracksboard {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.749);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: 1s;
  .logo-m img {
    width: 20px;
    margin-right: 10px;
  }
  .trackslist {
    position: fixed;
    padding: 10px;
    overflow-y: auto;
    border-radius: 10px;
    max-width: 550px;
    margin: 10vh auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.881);
    box-shadow: 0 0px 20px 10px #000000cb;

    color: white;
    font-size: 1rem;
  }
  .tracksboard-title {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    justify-content: space-between;
    background: $color-2;
    padding: 10px;
    font-size: 1.2rem;
    text-shadow: 0 1px 2px #00000057;
    font-weight: 600;
  }
  .closebtn {
    border-radius: 50%;
    transition: 200ms;
    // border: 2px solid $color-dark-1;
    img {
      width: 25px;
      display: block;
    }
    &:hover {
      transform: scale(1.15);
      background: $color-1;
    }
  }
  .track-container {
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
    &:nth-child(2n) {
      background: rgba(28, 75, 71, 0.144);
    }
    .artist {
      font-weight: 600;
    }
    .track {
      text-align: right;
      font-size: 0.8rem;
    }
  }
}
