@charset "utf-8";
@import 'settings';
@import 'header';
@import 'landing';
@import 'home';
@import 'dashboard';
@import 'matchboard';
@import 'tracksboard';
@import 'connectstatus';
@import 'card1';
.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 20px;
  align-items: center;
  background: $color-dark-1;
  color: white;
}
