@charset "utf-8";
@import 'settings';
@import 'header';
@import 'landing';
@import 'home';
@import 'dashboard';
@import 'matchboard';
@import 'tracksboard';
.hidden {
  opacity: 0;
  display: none;
}

.shadow {
  box-shadow: 0 0 8px #0000002f;
}
